<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
        <i class="fas fa-plus"></i>
      </button> -->
      <a class="dropdown-item" href="http://localhost:3001/admin/downloadSuggestion">
        Download Data
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Message</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < suggestion.length; i++){ %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= suggestion[i].email %></td>
                <td><%= suggestion[i].phone %></td>
                <td><%= suggestion[i].message %></td>
                <td>
                  <form action="/admin/suggestion/<%= suggestion[i].id %>?_method=DELETE" method="POST">
                    <a href="javascript:void();" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                      data-id="<%= suggestion[i].id %>" 
                      data-email="<%= suggestion[i].email %>"
                      data-phone="<%= suggestion[i].phone %>"
                      data-message="<%= suggestion[i].message %>">
                      <i class="fas fa-edit"></i>
                    </a>
                    <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>